# -------------------------------------------------------------------------------------
# -------------------------------------------------------------------------------------
# Name - Dheeraj Atul Salokhe
# Student No:- x23216905
# Database & Analytics Programming (MSCDAD_A_JAN24I)
# -------------------------------------------------------------------------------------
# -------------------------------------------------------------------------------------

# Load Data into MongoDB

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dheer\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\dheer\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\dheer\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\users\dheer\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pymysql in c:\users\dheer\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dheer\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dheer\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\dheer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\dheer\anaconda3\lib\site-packages (4.7.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\dheer\anaconda3\lib\site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\dheer\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dheer\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\dheer\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\dheer\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in c:\users\dheer\anaconda3\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\dheer\anaconda3\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dheer\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dheer\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dheer\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pandas matplotlib seaborn mysql-connector-python

Requirement already satisfied: pandas in c:\users\dheer\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: matplotlib in c:\users\dheer\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: seaborn in c:\users\dheer\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: mysql-connector-python in c:\users\dheer\anaconda3\lib\site-packages (8.3.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dheer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dheer\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\dheer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\dheer\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: requests in c:\users\dheer\anaconda3\lib\site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\dheer\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\dheer\anaconda3\lib\site-packages (from webdriver-manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dheer\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dheer\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dheer\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dheer\anaconda3\lib\site-packages (from requests->webdriver-manager) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import selenium
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
import pandas as pd
from pymongo import MongoClient

# Load data from CSV
csv_file = "Gas Emissions from World.csv"
data = pd.read_csv(csv_file)


# Setup MongoDB connection
client = MongoClient("mongodb+srv://x23173815:harsh@cluster0.ayuzwdf.mongodb.net/")
db = client["Dataset"]
collection = db["Gas Emissions from World"]


# Convert DataFrame to dictionary
data_dict2 = data.to_dict("records")

# Insert data into MongoDB
collection.insert_many(data_dict2)

# Retrieve and print the first five documents from the collection
for doc in collection.find().limit(5):
    print(doc)

all_documents2 = collection.find()

#for doc in all_documents:
    #print(doc)

#print(all_documents2)

list_cursor2 = list(all_documents2)

print(list_cursor2)

gas_df2 = pd.DataFrame(list_cursor2)

{'_id': ObjectId('662d395c4b1b20aeb4dc8ad4'), 'emissions_year': 1850, 'emissions_value': 0.0, 'data.id': 998262, 'data.iso_code3': 'ABW', 'data.country': 'Aruba', 'data.data_source': 'PIK', 'data.sector': 'Energy', 'data.gas': 'CH4', 'data.unit': 'MtCOâ‚‚e'}
{'_id': ObjectId('662d395c4b1b20aeb4dc8ad5'), 'emissions_year': 1851, 'emissions_value': 0.0, 'data.id': 998262, 'data.iso_code3': 'ABW', 'data.country': 'Aruba', 'data.data_source': 'PIK', 'data.sector': 'Energy', 'data.gas': 'CH4', 'data.unit': 'MtCOâ‚‚e'}
{'_id': ObjectId('662d395c4b1b20aeb4dc8ad6'), 'emissions_year': 1852, 'emissions_value': 0.0, 'data.id': 998262, 'data.iso_code3': 'ABW', 'data.country': 'Aruba', 'data.data_source': 'PIK', 'data.sector': 'Energy', 'data.gas': 'CH4', 'data.unit': 'MtCOâ‚‚e'}
{'_id': ObjectId('662d395c4b1b20aeb4dc8ad7'), 'emissions_year': 1853, 'emissions_value': 0.0, 'data.id': 998262, 'data.iso_code3': 'ABW', 'data.country': 'Aruba', 'data.data_source': 'PIK', 'data.sector': 'Energy', 'data.gas': 'CH4', 'data.unit': 'MtCOâ‚‚e'}
{'_id': ObjectId('662d395c4b1b20aeb4dc8ad8'), 'emissions_year': 1854, 'emissions_value': 0.0, 'data.id': 998262, 'data.iso_code3': 'ABW', 'data.country': 'Aruba', 'data.data_source': 'PIK', 'data.sector': 'Energy', 'data.gas': 'CH4', 'data.unit': 'MtCOâ‚‚e'}

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [12]:
gas_df2.head()

,_id,emissions_year,emissions_value,data.id,data.iso_code3,data.country,data.data_source,data.sector,data.gas,data.unit
0,662d395c4b1b20aeb4dc8ad4,1850,0.0,998262,ABW,Aruba,PIK,Energy,CH4,MtCOâ‚‚e
1,662d395c4b1b20aeb4dc8ad5,1851,0.0,998262,ABW,Aruba,PIK,Energy,CH4,MtCOâ‚‚e
2,662d395c4b1b20aeb4dc8ad6,1852,0.0,998262,ABW,Aruba,PIK,Energy,CH4,MtCOâ‚‚e
3,662d395c4b1b20aeb4dc8ad7,1853,0.0,998262,ABW,Aruba,PIK,Energy,CH4,MtCOâ‚‚e
4,662d395c4b1b20aeb4dc8ad8,1854,0.0,998262,ABW,Aruba,PIK,Energy,CH4,MtCOâ‚‚e

In [13]:
gas_df2.tail()

,_id,emissions_year,emissions_value,data.id,data.iso_code3,data.country,data.data_source,data.sector,data.gas,data.unit
49681,662fb6ef56f284005c0fd2bc,2016,0.0,987180,AFG,Afghanistan,Climate Watch,Other Fuel Combustion,CH4,MtCOâ‚‚e
49682,662fb6ef56f284005c0fd2bd,2017,0.0,987180,AFG,Afghanistan,Climate Watch,Other Fuel Combustion,CH4,MtCOâ‚‚e
49683,662fb6ef56f284005c0fd2be,2018,0.0,987180,AFG,Afghanistan,Climate Watch,Other Fuel Combustion,CH4,MtCOâ‚‚e
49684,662fb6ef56f284005c0fd2bf,2019,0.0,987180,AFG,Afghanistan,Climate Watch,Other Fuel Combustion,CH4,MtCOâ‚‚e
49685,662fb6ef56f284005c0fd2c0,2020,0.0,987180,AFG,Afghanistan,Climate Watch,Other Fuel Combustion,CH4,MtCOâ‚‚e

In [14]:
gas_df2.shape

(49686, 10)

In [15]:
gas_df2.describe()

       emissions_year  emissions_value        data.id
count    49686.000000     49283.000000   49686.000000
mean      1955.028257         1.062825  995206.777865
std         52.718288         3.530703    4963.351982
min       1850.000000        -2.390000  987147.000000
25%       1909.000000         0.000000  987177.000000
50%       1969.000000         0.000000  998266.000000
75%       2002.000000         0.170000  998272.000000
max       2022.000000        32.890000  998277.000000

In [16]:
print(gas_df2.isnull().sum())

_id                   0
emissions_year        0
emissions_value     403
data.id               0
data.iso_code3        0
data.country          0
data.data_source      0
data.sector           0
data.gas              0
data.unit             0
dtype: int64

In [17]:
gas_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49686 entries, 0 to 49685
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               49686 non-null  object
 1   emissions_year    49686 non-null  int64
 2   emissions_value   49283 non-null  float64
 3   data.id           49686 non-null  int64
 4   data.iso_code3    49686 non-null  object
 5   data.country      49686 non-null  object
 6   data.data_source  49686 non-null  object
 7   data.sector       49686 non-null  object
 8   data.gas          49686 non-null  object
 9   data.unit         49686 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 3.8+ MB

In [18]:
print(gas_df2.columns.tolist())

['_id', 'emissions_year', 'emissions_value', 'data.id', 'data.iso_code3', 'data.country', 'data.data_source', 'data.sector', 'data.gas', 'data.unit']

# Data Cleaning

In [19]:
gas_df2.drop(['data.data_source','data.unit'],axis = 1, inplace = True)

In [20]:
gas_df2

,_id,emissions_year,emissions_value,data.id,data.iso_code3,data.country,data.sector,data.gas
0,662d395c4b1b20aeb4dc8ad4,1850,0.0,998262,ABW,Aruba,Energy,CH4
1,662d395c4b1b20aeb4dc8ad5,1851,0.0,998262,ABW,Aruba,Energy,CH4
2,662d395c4b1b20aeb4dc8ad6,1852,0.0,998262,ABW,Aruba,Energy,CH4
3,662d395c4b1b20aeb4dc8ad7,1853,0.0,998262,ABW,Aruba,Energy,CH4
4,662d395c4b1b20aeb4dc8ad8,1854,0.0,998262,ABW,Aruba,Energy,CH4
...,...,...,...,...,...,...,...,...
49681,662fb6ef56f284005c0fd2bc,2016,0.0,987180,AFG,Afghanistan,Other Fuel Combustion,CH4
49682,662fb6ef56f284005c0fd2bd,2017,0.0,987180,AFG,Afghanistan,Other Fuel Combustion,CH4
49683,662fb6ef56f284005c0fd2be,2018,0.0,987180,AFG,Afghanistan,Other Fuel Combustion,CH4
49684,662fb6ef56f284005c0fd2bf,2019,0.0,987180,AFG,Afghanistan,Other Fuel Combustion,CH4
49685,662fb6ef56f284005c0fd2c0,2020,0.0,987180,AFG,Afghanistan,Other Fuel Combustion,CH4