# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Name :- Maitreya Govind Lavalekar 
## Student No:- x23209976
## Database & Analytics Programming (MSCDAD_A_JAN24I)

# ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#   Installed  Libraries

In [1]:
#pip install selenium

In [2]:
#pip install webdriver-manager

In [3]:
#pip install pymongo

In [4]:
#pip install pandas matplotlib seaborn mysql-connector-python

In [5]:
#pip install mysql-connector-python

In [6]:
#pip install pymysql

In [7]:
#pip install pandas sqlalchemy pymysql

In [8]:
#pip install matplotlib

In [9]:
#pip install seaborn

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Importing Libraries

# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [10]:
import selenium
import os
import pandas as pd
import mysql.connector as mysql
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

# -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Package Call

# ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [11]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from pymongo import MongoClient
from sqlalchemy import create_engine
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Ignoring   Warnings

In [12]:
warnings.filterwarnings('ignore')

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## 1.  File Extraction Using Selenium

In [13]:
options = Options() 
service = Service(ChromeDriverManager().install()) # Set up the Chrome WebDriver with the service and choices that were given.
driver = webdriver.Chrome(service=service, options=options)

In [14]:
driver.get("https://www.fao.org/faostat/en/#data/GV") # This command  navigate to the  web page

In [15]:
# Increase timeout as needed depending on the page load time
wait = WebDriverWait(driver, 20)  # Wait up to 20 seconds  

# Accessing  webPage elements by Inspecting and Coping FullXpath 
First_button = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[1]/div/div/div[3]/div[1]/div/div/button[1]')))



# wait for the second element to be visible and clickable 
second_element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div[2]/div/div/ul/li[2]/a/span')))

Third_element = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div[2]/div/div/ul/li[4]/a/i[1]')))


Fourth_element=wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[4]/div/div/div[3]/div[1]/div/div/button[1]')))


# Click on the elements 
First_button.click()
second_element.click()
Third_element.click() 
Fourth_element.click()

In [16]:
container_xpath = '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[5]/div/div/div[2]/div[2]/div'

# Wait for the container to be clickable, then click to reveal the years
WebDriverWait(driver, 20).until(
    EC.element_to_be_clickable((By.XPATH, container_xpath))
).click()

# Loop through the year (2000-2022) 
for year in range(2000, 2022):  # This will loop  start from 2000 to 2021 inclusive
    
    year_xpath = f"{container_xpath}//li[contains(., '{year}')]"  
    
    # Wait for the year to become clickable, then click it
    WebDriverWait(driver, 15).until(
        EC.element_to_be_clickable((By.XPATH, year_xpath))
    ).click()

### Following Command Is Used For Download A file From a Web Browser

In [17]:
Download_element = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[2]/div[2]/div[3]/button')))
Download_element.click()  # Download File From WebPAge

In [18]:
# Finally, close the browser
#driver.quit()

# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# 1.1  Load DataSet2  To MongoDB Atlas

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# -------------------- Set Up Mongo DB Connection And Load CSV File  -------------------------------------------------------------------------

In [19]:
csv_file = "Emissions from Drained organic soils.csv" # Load  A CSV  File 
data = pd.read_csv(csv_file)

client = MongoClient("mongodb+srv://x23173815:harsh@cluster0.ayuzwdf.mongodb.net/")
db = client["Dataset"]
collection = db["Emissions from Drained organic soils"]
# Convert DataFrame to dictionary
data_dict1 = data.to_dict("records")
# Insert data into MongoDB
collection.insert_many(data_dict1)
# Retrieve and print the first five documents from the collection
for doc in collection.find().limit(5):
    print(doc)
all_documents1 = collection.find()

#for doc in all_documents:
    #print(doc)
print(all_documents1)
list_cursor1 = list(all_documents1)
print(list_cursor1)
soil_df1 = pd.DataFrame(list_cursor1)

{'_id': ObjectId('662c00dcf2e5eada41cf2236'), 'Domain Code': 'GV', 'Domain': 'Emissions from Drained organic soils', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 7230, 'Element': 'Emissions (N2O)', 'Item Code': 6727, 'Item': 'Cropland organic soils', 'Year Code': 2000, 'Year': 2000, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662c00dcf2e5eada41cf2237'), 'Domain Code': 'GV', 'Domain': 'Emissions from Drained organic soils', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 7273, 'Element': 'Emissions (CO2)', 'Item Code': 6727, 'Item': 'Cropland organic soils', 'Year Code': 2000, 'Year': 2000, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662c00dcf2e5eada41cf2238'), 'Domain Code': 'GV', 'Domain': 'Emissions from Drained organic soils', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 7230, 'Element': 'Emissions (N2O)', 'Item Code': 6727, 'Item': 'Cropland organic soils', 'Year Code': 2001, 'Year': 2001, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662c00dcf2e5eada41cf2239'), 'Domain Code': 'GV', 'Domain': 'Emissions from Drained organic soils', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 7273, 'Element': 'Emissions (CO2)', 'Item Code': 6727, 'Item': 'Cropland organic soils', 'Year Code': 2001, 'Year': 2001, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662c00dcf2e5eada41cf223a'), 'Domain Code': 'GV', 'Domain': 'Emissions from Drained organic soils', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 7230, 'Element': 'Emissions (N2O)', 'Item Code': 6727, 'Item': 'Cropland organic soils', 'Year Code': 2002, 'Year': 2002, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
<pymongo.cursor.Cursor object at 0x00000176CCBB6510>

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

# -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Display First Five rows in DataFrame

In [20]:
soil_df1.head()

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,662c00dcf2e5eada41cf2236,GV,Emissions from Drained organic soils,4,Afghanistan,7230,Emissions (N2O),6727,Cropland organic soils,2000,2000,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
1,662c00dcf2e5eada41cf2237,GV,Emissions from Drained organic soils,4,Afghanistan,7273,Emissions (CO2),6727,Cropland organic soils,2000,2000,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
2,662c00dcf2e5eada41cf2238,GV,Emissions from Drained organic soils,4,Afghanistan,7230,Emissions (N2O),6727,Cropland organic soils,2001,2001,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
3,662c00dcf2e5eada41cf2239,GV,Emissions from Drained organic soils,4,Afghanistan,7273,Emissions (CO2),6727,Cropland organic soils,2001,2001,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
4,662c00dcf2e5eada41cf223a,GV,Emissions from Drained organic soils,4,Afghanistan,7230,Emissions (N2O),6727,Cropland organic soils,2002,2002,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # Display Last Five rows of Data

In [21]:
 soil_df1.tail()

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
137083,662e4baf216a225894338398,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2019,2019,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
137084,662e4baf216a225894338399,GV,Emissions from Drained organic soils,716,Zimbabwe,7230,Emissions (N2O),6728,Grassland organic soils,2020,2020,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
137085,662e4baf216a22589433839a,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2020,2020,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
137086,662e4baf216a22589433839b,GV,Emissions from Drained organic soils,716,Zimbabwe,7230,Emissions (N2O),6728,Grassland organic soils,2021,2021,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN
137087,662e4baf216a22589433839c,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2021,2021,3050,FAO TIER 1,kt,0.0,E,Estimated value,NaN

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [23]:
#Shape of dataframe

In [22]:
soil_df1.shape

(137088, 18)

# -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # displying   overview of Data Frame Soil_df1

In [24]:
soil_df1.describe()

,Area Code (M49),Element Code,Item Code,Year Code,Year,Source Code,Value,Note
count,137088.000000,137088.000000,137088.000000,137088.000000,137088.000000,137088.0,137088.000000,0.0
mean,435.636029,7251.500000,6727.500000,2010.163603,2010.163603,3050.0,862.732828,NaN
std,252.407887,21.500078,0.500002,6.272791,6.272791,0.0,7528.381601,NaN
min,4.000000,7230.000000,6727.000000,2000.000000,2000.000000,3050.0,0.000000,NaN
25%,218.000000,7230.000000,6727.000000,2005.000000,2005.000000,3050.0,0.000000,NaN
50%,434.000000,7251.500000,6727.500000,2010.000000,2010.000000,3050.0,0.000000,NaN
75%,654.000000,7273.000000,6728.000000,2015.000000,2015.000000,3050.0,1.812000,NaN
max,894.000000,7273.000000,6728.000000,2021.000000,2021.000000,3050.0,226389.853200,NaN

# -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # Checking missing values in dataset

In [26]:
 print(soil_df1.isnull().sum())

_id                      0
Domain Code              0
Domain                   0
Area Code (M49)          0
Area                     0
Element Code             0
Element                  0
Item Code                0
Item                     0
Year Code                0
Year                     0
Source Code              0
Source                   0
Unit                     0
Value                    0
Flag                     0
Flag Description         0
Note                137088
dtype: int64

# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

 # summary of dataset

In [27]:
soil_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137088 entries, 0 to 137087
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _id               137088 non-null  object
 1   Domain Code       137088 non-null  object
 2   Domain            137088 non-null  object
 3   Area Code (M49)   137088 non-null  int64
 4   Area              137088 non-null  object
 5   Element Code      137088 non-null  int64
 6   Element           137088 non-null  object
 7   Item Code         137088 non-null  int64
 8   Item              137088 non-null  object
 9   Year Code         137088 non-null  int64
 10  Year              137088 non-null  int64
 11  Source Code       137088 non-null  int64
 12  Source            137088 non-null  object
 13  Unit              137088 non-null  object
 14  Value             137088 non-null  float64
 15  Flag              137088 non-null  object
 16  Flag Description  137088 non-null  object
 17  Note              0 non-null       float64
dtypes: float64(2), int64(6), object(10)
memory usage: 18.8+ MB

# -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [28]:
 # Print columns  For cleaning purpose

In [29]:
print(soil_df1.columns.tolist())

['_id', 'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code', 'Item', 'Year Code', 'Year', 'Source Code', 'Source', 'Unit', 'Value', 'Flag', 'Flag Description', 'Note']

# ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Cleaning Dataset

## drop columns which is not necesary for operation .

In [30]:
soil_df1.drop(['Source Code', 'Source', 'Flag', 'Flag Description', 'Note'],axis = 1, inplace = True)

# ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# After Droping  not necessary column viewing dataset

In [31]:
soil_df1

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,662c00dcf2e5eada41cf2236,GV,Emissions from Drained organic soils,4,Afghanistan,7230,Emissions (N2O),6727,Cropland organic soils,2000,2000,kt,0.0
1,662c00dcf2e5eada41cf2237,GV,Emissions from Drained organic soils,4,Afghanistan,7273,Emissions (CO2),6727,Cropland organic soils,2000,2000,kt,0.0
2,662c00dcf2e5eada41cf2238,GV,Emissions from Drained organic soils,4,Afghanistan,7230,Emissions (N2O),6727,Cropland organic soils,2001,2001,kt,0.0
3,662c00dcf2e5eada41cf2239,GV,Emissions from Drained organic soils,4,Afghanistan,7273,Emissions (CO2),6727,Cropland organic soils,2001,2001,kt,0.0
4,662c00dcf2e5eada41cf223a,GV,Emissions from Drained organic soils,4,Afghanistan,7230,Emissions (N2O),6727,Cropland organic soils,2002,2002,kt,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137083,662e4baf216a225894338398,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2019,2019,kt,0.0
137084,662e4baf216a225894338399,GV,Emissions from Drained organic soils,716,Zimbabwe,7230,Emissions (N2O),6728,Grassland organic soils,2020,2020,kt,0.0
137085,662e4baf216a22589433839a,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2020,2020,kt,0.0
137086,662e4baf216a22589433839b,GV,Emissions from Drained organic soils,716,Zimbabwe,7230,Emissions (N2O),6728,Grassland organic soils,2021,2021,kt,0.0
137087,662e4baf216a22589433839c,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2021,2021,kt,0.0

# -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# After Cleaning data It  Loaded into MySQL For Further Processs

# Load To MySQL