# Name - Harsh Gupta
# Student Id - x23173815

### ----------------------------------------------------------------------------------------------------------------------------------------------------

# I took a dataset from this url "https://www.fao.org/faostat/en/#data/GCE" which is "Emission from Crops" where I selected some certain amount of data Globally from the year 2000 to 2021 in Environment Domain.

### Using selenium to extract the data and my data will be downloaded in my PC "Downloads" named - "FAOSTAT_data_en_4-26-2024".
### Download time varies as data is large around 6.8mb and it takes time to download data

In [1]:
# Installing selenium for our project 

#pip install selenium
#pip install webdriver-manager

In [2]:
import selenium
import os

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [4]:
options = Options()
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

#Use get function we access the URL
driver.get("https://www.fao.org/faostat/en/#data/GCE")

In [5]:
#We use WebDriverWait for timeouts
wait = WebDriverWait(driver, 20)  # Wait up to 20 seconds

#Locate and click the first button using its XPath
first_button = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[1]/div/div/div[3]/div[1]/div/div/button[1]')))
first_button.click()

#Locate and click the second element
second_element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div[2]/div/div/ul/li[2]/a/span')))
second_element.click()

#Locate and click the third element
third_element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[4]/div/div/div[3]/div[1]/div/div/button[1]')))
third_element.click()

#Locate and click the fourth element
fourth_element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div[2]/div/div/ul/li[1]/a/i[1]')))
fourth_element.click()

#Locate and click the fifth element
fifth_element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[5]/div/div/div[2]/div[2]/div[1]')))
fifth_element.click()

In [6]:
container_xpath = '/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[1]/div/div[5]/div/div/div[2]/div[2]/div[1]'

#Selecting only 2000 to 2022 years for our project 

for year in range(2000, 2022):  # This will loop from 2000 to 2021 inclusive
    year_xpath = f"{container_xpath}//li[contains(., '{year}')]"  # Update the XPath pattern if needed
    
    # Wait for the year to become clickable, then click it
    WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, year_xpath))).click()

In [7]:
download_file = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[4]/div[3]/div/div[4]/div[1]/div/div[1]/div/div[2]/div/div[2]/div[2]/div[3]/button')))
download_file.click()

### We didnt quit the browser because depending on net speed download will take different time, so we hastag it

In [8]:
#driver.quit()

### Now we rename the file as "Emission from Crops" and put in our jupyter folder

### ----------------------------------------------------------------------------------------------------------------------------------------------------

# Now the next step is to load the data in MONGODB using pymongo

In [9]:
#Install pymongo package
#pip install pymongo

In [10]:
#Install dnspython for DNS support
#pip install pymongo dnspython

In [11]:
# Import library to connect to database

import pandas as pd
from pymongo import MongoClient

In [12]:
# Loading data from our CSV file 

csv_file = "Emission from Crops.csv"
data = pd.read_csv(csv_file)

### I created a account with my student id on "MONGODB" and created a shared cluster with name "cluster0"

### Creating a database connection using the tool "mongodb compass" and accessing it

### I even made a Universal Ip so that anyone with the link can access from anywhere

In [13]:
#Establish a connection between a MongoDB cluster and the supplied URL by creating an instance of MongoClient. 

client = MongoClient("mongodb+srv://x23173815:harsh@cluster0.ayuzwdf.mongodb.net/")
db = client["Dataset"] #Database name 
collection = db["Emission from Crops"] #Collection within that database

### Load and Fetch data from python to mongodb

In [14]:
# Convert data to list but format will be record 
data_dict = data.to_dict("records")

# Inserting data into mongodb
collection.insert_many(data_dict)

# Retrieve and print the first five documents from the collection
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('662bf9f8a4cd378be63f63a1'), 'Domain Code': 'GCE', 'Domain': 'Emissions from Crops', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 72430, 'Element': 'Crops total (Emissions N2O)', 'Item Code (CPC)': 115, 'Item': 'Barley', 'Year Code': 2000, 'Year': 2000, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0282, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662bf9f8a4cd378be63f63a2'), 'Domain Code': 'GCE', 'Domain': 'Emissions from Crops', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 72430, 'Element': 'Crops total (Emissions N2O)', 'Item Code (CPC)': 115, 'Item': 'Barley', 'Year Code': 2001, 'Year': 2001, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0269, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662bf9f8a4cd378be63f63a3'), 'Domain Code': 'GCE', 'Domain': 'Emissions from Crops', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 72430, 'Element': 'Crops total (Emissions N2O)', 'Item Code (CPC)': 115, 'Item': 'Barley', 'Year Code': 2002, 'Year': 2002, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0953, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662bf9f8a4cd378be63f63a4'), 'Domain Code': 'GCE', 'Domain': 'Emissions from Crops', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 72430, 'Element': 'Crops total (Emissions N2O)', 'Item Code (CPC)': 115, 'Item': 'Barley', 'Year Code': 2003, 'Year': 2003, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0775, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}
{'_id': ObjectId('662bf9f8a4cd378be63f63a5'), 'Domain Code': 'GCE', 'Domain': 'Emissions from Crops', 'Area Code (M49)': 4, 'Area': 'Afghanistan', 'Element Code': 72430, 'Element': 'Crops total (Emissions N2O)', 'Item Code (CPC)': 115, 'Item': 'Barley', 'Year Code': 2004, 'Year': 2004, 'Source Code': 3050, 'Source': 'FAO TIER 1', 'Unit': 'kt', 'Value': 0.0924, 'Flag': 'E', 'Flag Description': 'Estimated value', 'Note': nan}

In [15]:
all_documents = collection.find()

#for doc in all_documents:
    #print(doc)

print(all_documents)

#Converting the cursor to list 
list_cursor = list(all_documents)

print(list_cursor)

#Converting list into dataframe 
crop_df = pd.DataFrame(list_cursor)

<pymongo.cursor.Cursor object at 0x000001B8CCF1FE10>

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

# Now my data is loaded and fetched from mongodb and named as "crop_df"

In [16]:
crop_df

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,662bf9f8a4cd378be63f63a1,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2000,2000,3050,FAO TIER 1,kt,0.0282,E,Estimated value,NaN
1,662bf9f8a4cd378be63f63a2,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2001,2001,3050,FAO TIER 1,kt,0.0269,E,Estimated value,NaN
2,662bf9f8a4cd378be63f63a3,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2002,2002,3050,FAO TIER 1,kt,0.0953,E,Estimated value,NaN
3,662bf9f8a4cd378be63f63a4,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2003,2003,3050,FAO TIER 1,kt,0.0775,E,Estimated value,NaN
4,662bf9f8a4cd378be63f63a5,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2004,2004,3050,FAO TIER 1,kt,0.0924,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323715,662f8b533005e78ba532c6ab,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2019,2019,3050,FAO TIER 1,kt,0.0261,E,Estimated value,NaN
323716,662f8b533005e78ba532c6ac,GCE,Emissions from Crops,716,Zimbabwe,72430,Crops total (Emissions N2O),111,Wheat,2020,2020,3050,FAO TIER 1,kt,0.0525,E,Estimated value,NaN
323717,662f8b533005e78ba532c6ad,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2020,2020,3050,FAO TIER 1,kt,0.0480,E,Estimated value,NaN
323718,662f8b533005e78ba532c6ae,GCE,Emissions from Crops,716,Zimbabwe,72430,Crops total (Emissions N2O),111,Wheat,2021,2021,3050,FAO TIER 1,kt,0.0829,E,Estimated value,NaN
323719,662f8b533005e78ba532c6af,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2021,2021,3050,FAO TIER 1,kt,0.0717,E,Estimated value,NaN

### -------------------------------------------------------------------------------------------------------------------------------

### Descriptive statistics and Cleaning data

In [17]:
crop_df.head()

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,662bf9f8a4cd378be63f63a1,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2000,2000,3050,FAO TIER 1,kt,0.0282,E,Estimated value,NaN
1,662bf9f8a4cd378be63f63a2,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2001,2001,3050,FAO TIER 1,kt,0.0269,E,Estimated value,NaN
2,662bf9f8a4cd378be63f63a3,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2002,2002,3050,FAO TIER 1,kt,0.0953,E,Estimated value,NaN
3,662bf9f8a4cd378be63f63a4,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2003,2003,3050,FAO TIER 1,kt,0.0775,E,Estimated value,NaN
4,662bf9f8a4cd378be63f63a5,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2004,2004,3050,FAO TIER 1,kt,0.0924,E,Estimated value,NaN

In [18]:
crop_df.tail()

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
323715,662f8b533005e78ba532c6ab,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2019,2019,3050,FAO TIER 1,kt,0.0261,E,Estimated value,NaN
323716,662f8b533005e78ba532c6ac,GCE,Emissions from Crops,716,Zimbabwe,72430,Crops total (Emissions N2O),111,Wheat,2020,2020,3050,FAO TIER 1,kt,0.0525,E,Estimated value,NaN
323717,662f8b533005e78ba532c6ad,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2020,2020,3050,FAO TIER 1,kt,0.0480,E,Estimated value,NaN
323718,662f8b533005e78ba532c6ae,GCE,Emissions from Crops,716,Zimbabwe,72430,Crops total (Emissions N2O),111,Wheat,2021,2021,3050,FAO TIER 1,kt,0.0829,E,Estimated value,NaN
323719,662f8b533005e78ba532c6af,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2021,2021,3050,FAO TIER 1,kt,0.0717,E,Estimated value,NaN

In [19]:
crop_df.shape

(323720, 18)

In [20]:
crop_df.describe()

,Area Code (M49),Element Code,Item Code (CPC),Year Code,Year,Source Code,Value,Note
count,323720.000000,323720.000000,323720.000000,323720.000000,323720.000000,323720.0,323720.000000,0.0
mean,427.812925,72432.765600,528.665761,2010.192784,2010.192784,3050.0,16.074620,NaN
std,257.897953,4.472976,693.933673,6.282245,6.282245,0.0,219.970985,NaN
min,4.000000,72430.000000,111.000000,2000.000000,2000.000000,3050.0,0.000000,NaN
25%,196.000000,72430.000000,112.000000,2005.000000,2005.000000,3050.0,0.001300,NaN
50%,417.000000,72430.000000,114.000000,2010.000000,2010.000000,3050.0,0.023900,NaN
75%,643.000000,72440.000000,1510.000000,2015.000000,2015.000000,3050.0,0.261100,NaN
max,894.000000,72440.000000,1802.000000,2021.000000,2021.000000,3050.0,5498.520900,NaN

In [21]:
print(crop_df.isnull().sum())

_id                      0
Domain Code              0
Domain                   0
Area Code (M49)          0
Area                     0
Element Code             0
Element                  0
Item Code (CPC)          0
Item                     0
Year Code                0
Year                     0
Source Code              0
Source                   0
Unit                     0
Value                    0
Flag                     0
Flag Description         0
Note                323720
dtype: int64

In [22]:
crop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323720 entries, 0 to 323719
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _id               323720 non-null  object
 1   Domain Code       323720 non-null  object
 2   Domain            323720 non-null  object
 3   Area Code (M49)   323720 non-null  int64
 4   Area              323720 non-null  object
 5   Element Code      323720 non-null  int64
 6   Element           323720 non-null  object
 7   Item Code (CPC)   323720 non-null  int64
 8   Item              323720 non-null  object
 9   Year Code         323720 non-null  int64
 10  Year              323720 non-null  int64
 11  Source Code       323720 non-null  int64
 12  Source            323720 non-null  object
 13  Unit              323720 non-null  object
 14  Value             323720 non-null  float64
 15  Flag              323720 non-null  object
 16  Flag Description  323720 non-null  object
 17  Note              0 non-null       float64
dtypes: float64(2), int64(6), object(10)
memory usage: 44.5+ MB

In [23]:
#List of all columns 
print(crop_df.columns.tolist())

['_id', 'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Source Code', 'Source', 'Unit', 'Value', 'Flag', 'Flag Description', 'Note']

In [24]:
crop_df.drop(['Source Code', 'Source', 'Flag', 'Flag Description', 'Note', 'Year Code',],axis = 1, inplace = True)

In [25]:
crop_df

,_id,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year,Unit,Value
0,662bf9f8a4cd378be63f63a1,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2000,kt,0.0282
1,662bf9f8a4cd378be63f63a2,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2001,kt,0.0269
2,662bf9f8a4cd378be63f63a3,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2002,kt,0.0953
3,662bf9f8a4cd378be63f63a4,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2003,kt,0.0775
4,662bf9f8a4cd378be63f63a5,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),115,Barley,2004,kt,0.0924
...,...,...,...,...,...,...,...,...,...,...,...,...
323715,662f8b533005e78ba532c6ab,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2019,kt,0.0261
323716,662f8b533005e78ba532c6ac,GCE,Emissions from Crops,716,Zimbabwe,72430,Crops total (Emissions N2O),111,Wheat,2020,kt,0.0525
323717,662f8b533005e78ba532c6ad,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2020,kt,0.0480
323718,662f8b533005e78ba532c6ae,GCE,Emissions from Crops,716,Zimbabwe,72430,Crops total (Emissions N2O),111,Wheat,2021,kt,0.0829
323719,662f8b533005e78ba532c6af,GCE,Emissions from Crops,716,Zimbabwe,72440,Crops total (Emissions CH4),111,Wheat,2021,kt,0.0717

In [26]:
crop_df['_id'] = crop_df['_id'].astype(str)

In [27]:
crop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323720 entries, 0 to 323719
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   _id              323720 non-null  object
 1   Domain Code      323720 non-null  object
 2   Domain           323720 non-null  object
 3   Area Code (M49)  323720 non-null  int64
 4   Area             323720 non-null  object
 5   Element Code     323720 non-null  int64
 6   Element          323720 non-null  object
 7   Item Code (CPC)  323720 non-null  int64
 8   Item             323720 non-null  object
 9   Year             323720 non-null  int64
 10  Unit             323720 non-null  object
 11  Value            323720 non-null  float64
dtypes: float64(1), int64(4), object(7)
memory usage: 29.6+ MB